{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Sree Athisaya Vinayagar Kovil - Vadakankulam</title>

    <meta name="description" content="Vayulo Dashboard , Dashboard" />
    <meta name="keywords" content="dashboard">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://vayulo.com/">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon.png' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'css/googlefont.css' %}">

    
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'vendor/fonts/boxicons.css' %}" />

    <!-- Datatable CSS -->

    <link rel="stylesheet" href="{% static 'plugins/datatables/datatables.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/datatables/responsive.dataTables.min.css' %}">

    <link rel="stylesheet" href="{% static 'plugins/datatables/buttons.dataTables.min.css' %}">


    <!-- Sweetalert -->
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}">

    <!-- IziToast -->
    <link rel="stylesheet" href="{% static 'plugins/izitoast/iziToast.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css' %}">

    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">


    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lc_style.css' %}" />
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}" />
    <!-- Page CSS -->
    <!-- Helpers -->

    <style>
        .Overflow-None{
            overflow: hidden

        }
    </style>

</head>

<body class="Overflow-None">

    <div id="overlayer"></div>
    <span class="loader">
        <img class="loader-inner" src="{% static 'img/preloader.webp' %}" style="width:250px;" />
       <!--  <div class="loading"></div> -->
    </span>
    

    <div class="layout-wrapper layout-content-navbar  ">
        <div class="layout-container">


            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">


                <div class="app-brand demo ">
                    <a href="{% url 'home' %}" class="app-brand-link">
                        <img src="{% static 'img/logo-img.png' %}" style="width:175px;" />
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>



                <ul class="menu-inner py-1">

                    <!-- Dashboard -->
                    <li class="menu-item {% block dashboard_nav %} {% endblock %}">
                        <a href="{% url 'home' %}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>

                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Master</span>
                    </li>

                   

                    <li class="menu-item {% block users_nav %} {% endblock %}">
                        <a href="{% url 'users' %}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-user"></i>
                            <div data-i18n="Analytics">Users</div>
                        </a>
                    </li>

                    <li class="menu-item {% block region_nav %} {% endblock %}">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-map-alt"></i>
                            <div data-i18n="Account Settings">Pooja</div>
                        </a>
                        <ul class="menu-sub">
                          <li class="menu-item {% block create_region_nav %} {% endblock %}">
                            <a href="{% url 'pooja' %}" class="menu-link">
                                <div data-i18n="Region">Add Pooja</div>
                            </a>
                          </li>
                          <li class="menu-item {% block assign_region_nav %} {% endblock %}">
                            <a href="{% url 'assign_pooja' %}" class="menu-link">
                                <div data-i18n="Analytics">Assign Pooja</div>
                            </a>
                          </li>
                        </ul>
                      </li>

                      <li class="menu-item {% block tower_nav %} {% endblock %}">
                        <a href="javascript:void(0)" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-broadcast"></i>
                            <div data-i18n="Tower">Tower</div>
                        </a>
                        <ul class="menu-sub">
                          <li class="menu-item {% block add_tower_nav %} {% endblock %}">
                            <a href="{% url 'home' %}" class="menu-link">
                                <div data-i18n="Tower">Add Tower</div>
                            </a>
                          </li>
                          <li class="menu-item {% block tower_mapping_nav %} {% endblock %}">
                            <a href="{% url 'home' %}" class="menu-link">
                                <div data-i18n="Analytics">Tower Mapping</div>
                            </a>
                          </li>
                        </ul>
                      </li>


                      <li class="menu-item {% block assigned_tower_view_nav %} {% endblock %}">
                        <a href="{% url 'home' %}" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-sitemap"></i>
                            <div data-i18n="Analytics">Assigned Towers</div>
                        </a>
                    </li>
                    
                    <li class="menu-item {% block account_nav %} {% endblock %}">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-map-alt"></i>
                            <div data-i18n="Account Settings">Account</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item {% block Expense_nav %} {% endblock %}">
                                <a href="{% url 'expense' %}" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-sitemap"></i>
                                    <div data-i18n="Analytics">Expense</div>
                                </a>
                            </li>
                            <li class="menu-item {% block Income_nav %} {% endblock %}">
                                <a href="{% url 'add_income' %}" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-dollar"></i>
                                    <div data-i18n="Analytics">Income</div>
                                </a>
                            </li>
                            <li class="menu-item {% block Add_account_nav %} {% endblock %}">
                                <a href="{% url 'accounts' %}" class="menu-link">
                                    <i class="menu-icon tf-icons bx bx-dollar"></i>
                                    <div data-i18n="Analytics">Account Information</div>
                                </a>
                            </li>
                        </ul>
                      </li>

                </ul>

            </aside>
            <!-- / Menu -->



            <!-- Layout container -->
            <div class="layout-page">

                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">


                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0   d-xl-none ">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>


                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search...">
                            </div>
                        </div>
                        <!-- /Search -->


                        <ul class="navbar-nav flex-row align-items-center ms-auto">


                            {% if user.is_authenticated %}
                            <!-- Place this tag where you want the button to render. -->
                            <!--  <li class="nav-item lh-1 me-3">
                                <a class="github-button" href="javascript:void(0)" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Admin">{{user.first_name}}</a>
                            </li> -->



                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow d-flex" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="../../media/{{user.user_image}}" alt class="w-px-40 h-auto rounded-circle profileImage">
                                    </div>

                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="../../media/{{user.user_image}}" alt class="w-px-40 h-auto rounded-circle profileImage">
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-bold d-block">{{user.first_name}}</span>
                                                    <span class="fw-semibold d-block">{{user.email}}</span>
                                                    <!-- <small class="text-muted">{{user}}</small> -->
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="index.html#">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle fw-semibold">My Profile</span>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <!-- <li>
                                        <a class="dropdown-item" href="{% url 'users' %}">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle fw-bold">Sign Out</span>
                                        </a>
                                    </li> -->
                                </ul>
                            </li>
                            <!--/ User -->

                            {% endif %}


                        </ul>
                    </div>



                </nav>



                <!-- / Navbar -->



                <!-- Content wrapper -->
                <div class="content-wrapper">

                    <!-- Content -->

                    {% block main_content %} {% endblock %}

                    <!-- / Content -->

                    <!-- Footer -->
                    
                    <footer class="container">
                        <div class="footer bg-light container d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
                        <div>
                            <span class="footer-text fw-bolder">© Sree Athisaya Vinayagar Kovil - Vadakankulam @ <script>document.write(new Date().getFullYear())</script></span>
                        </div>
                        <div>
                             <a href="https://www.lintcloud.com/" target="_blank" class="btn btn-sm btn-outline-primary d-flex">
                                <span class="user-img">
                                    <img src="{% static 'img/lc-logo.png' %}" alt="" style="width:30px;">                                
                                </span>
                                <b class="my-auto" style="padding-left: 10px;font-size: 14px;">LintCloud</b>
                            </a>
                        </div>
                        </div>                        
                    </footer>
                    

               
                    
                    <!-- / Footer -->


                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>



        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>


    </div>




    <script src="{% static 'vendor/js/helpers.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>


    <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <!-- Datatable JS -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/buttons.print.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <!-- IziToast -->

    <script src="{% static 'plugins/izitoast/iziToast.min.js' %}"></script>   
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>

    <!-- Select2 -->
    <script src="{% static 'plugins/select2/select2.min.js' %}"></script>

    <script>
        $(window).on('load', function() {
            $(".loader").delay(1000).fadeOut("slow");
            $("#overlayer").delay(1000).fadeOut("slow");
            $("body").delay(1000).removeClass("Overflow-None");

        });
    </script>

    {% block extra_css %} {% endblock %} {% block extra_js %}  
   
    {% endblock %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type="text/javascript">toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type="text/javascript">toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type="text/javascript">toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type="text/javascript">toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}

</body>

</html>